<html>
<body style="font-family:Calibri">
    <h2 style="color:#0076a3">Classification - Udemy Courses</h3>
    <div>
      <form action="/predict" method="POST">
        <label for="course_title"><b>Course Title:</b></label><br>
        <input type="string" id="course_title" name="course_title" size="70">
        <br><br>
        
        <label for="url"><b>URL:</b></label><br>
        <input type="url" id="url" name="sepwid" size="100">
        <br><br>
        
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>
